@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --breakpoint-small: 24rem;
  --breakpoint-30rem: 30rem;
  --breakpoint-lar: 55.625rem;
  --breakpoint-med: 69rem;
  --breakpoint-wide: 74rem;

  --animate-marquee: marquee 25s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-outfit: "Outfit", sans-serif;
  --font-urbanist: "Urbanist", sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.footer-gradient {
  /* background: radial-gradient(circle at 50% 600%, #cd9bff 50%, #ffffff); */
  /* background: radial-gradient(closest-side at 472px 351px, #cd9bff, #ffffff); */
  background: radial-gradient(circle 450px at center 127%, #cd9bff, #ffffff);
}
